<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kipopraxis - Web page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/jpreloader.css" type="text/css">
    <link rel="stylesheet" href="~/css/animate.css" type="text/css">
    <link rel="stylesheet" href="~/css/plugin.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.transitions.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <!-- custom background -->
    <link rel="stylesheet" href="~/css/bg.css" type="text/css">

    <!-- color scheme -->
    <link rel="stylesheet" href="~/css/colors/lime.css" type="text/css" id="colors">
    <link rel="stylesheet" href="~/css/color.css" type="text/css">

    <!-- load fonts -->
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="~/fonts/elegant_font/HTML_CSS/style.css" type="text/css">
    <link rel="stylesheet" href="~/fonts/et-line-font/style.css" type="text/css">

    <!-- revolution slider -->
    <link rel="stylesheet" href="~/rs-plugin/css/settings.css" type="text/css">
    <link rel="stylesheet" href="~/css/rev-settings.css" type="text/css">

    <!-- custom css -->
    <link rel="stylesheet" href="~/css/custom.css" type="text/css">

</head>

<body id="homepage">
    <!-- ======= Top Bar ======= -->
    <div id="wrapper">
        <!-- header begin -->
        <header>
            <!---->

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- logo begin -->
                        <div id="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img class="logo" src="~/images/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo close -->
                        <!-- small button begin -->
                        <span id="menu-btn"></span>
                        <!-- small button close -->
                        <!-- mainmenu begin -->
                        <nav>
                            
                            <ul id="mainmenu">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="Home" asp-action="About">Profile</a></li>
                                <li>
                                    <a asp-controller="Home" asp-action="Services">Services</a>
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Service1">Earthworks.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service2">Irrigation networks construction</a></li>
                                        <li><a asp-controller="Home" asp-action="Service3">Green roofs.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service4">Garden lighting.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service5">Ceramic floors.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service6">Floor construction.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service7">Shrubs and trees planting</a></li>
                                        <li><a asp-controller="Home" asp-action="Service8">Sports fields construction</a></li>
                                        <li><a asp-controller="Home" asp-action="Service9">Vertical gardens.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service10">Irrigation networks maintenance.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service11">Reformation downgraded areas.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service12">Pruning works.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service13">Turf maintenance.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service14">Phytosanitary works.</a></li>
                                        <li><a asp-controller="Home" asp-action="Service15">Processing of non-hazardous waste</a></li>
                                        <li><a asp-controller="Home" asp-action="Service16">land clearance - sweeping.</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Home" asp-action="Projects">Works</a></li>
                                <li><a asp-controller="Home" asp-action="News">News</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                                <li>
                                    <a href="https://www.kipopraxis.gr" class="language" rel="it-IT"><img src="~/images/Flags/GR.png" /> Ελληνικά</a>
                                    <ul>
                                        <li><a href="https://en.kipopraxis.gr" class="language" rel="it-IT"><img src="~/images/Flags/UK.png" /> English</a></li>                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        @RenderBody()
        <!-- footer begin -->
        <footer>
            <div class="container pb40">
                <div class="row">
                    <div class="row ">
                        <table class="center" style="width:100%">
                            <tr style="text-align:center">
                                <td style="text-align:center"><a target="_blank" href="~/images/ISO/CERT_KHPOPRAXIS_9001_2020.pdf" /><img src="~/images/ISO/ISO_LOGO_BLACK.png" /><br /><span style="font-family: Arial;font-size: 8pt"> EN ISO 9001:2015<br>No.: 20001200003212</span></td>
                                <td style="text-align:center"><a target="_blank" href="~/images/ISO/CERT_KHPOPRAXIS_39001_2020.pdf" /><img src="~/images/ISO/ISO_LOGO_BLACK.png" /><br /><span style="font-family: Arial;font-size: 8pt">EN ISO 39001:2018<br>No.: 20002200003216</span></td>
                                <td style="text-align:center"><a target="_blank" href="~/images/ISO/CERT_KHPOPRAXIS_14001_2020.pdf" /><img src="~/images/ISO/ISO_LOGO_BLACK.png" /><br /><span style="font-family: Arial;font-size: 8pt">EN ISO 14001:2015<br>No.: 20051200003214</span></td>
                                <td style="text-align:center"><a target="_blank" href="~/images/ISO/CERT_KHPOPRAXIS_45001_2020.pdf" /><img src="~/images/ISO/ISO_LOGO_BLACK.png" /><br /><span style="font-family: Arial;font-size: 8pt">ISO 45001:2018<br>No.: 2015200003215</span></td>
                                <td style="text-align:center"><a target="_blank" href="~/images/ISO/CERT_KHPOPRAXIS_50001_2020.pdf" /><img src="~/images/ISO/ISO_LOGO_BLACK.png" /><br /><span style="font-family: Arial;font-size: 8pt">EN ISO 50001:2018<br>No.: 20000200003217</span></td>
                                <td style="text-align:center"><a target="_blank" href="~/images/ISO/CERT_KIPOPRAXIS_27001_2020.pdf" /><img src="~/images/ISO/ISO_LOGO_BLACK.png" /><br /><span style="font-family: Arial;font-size: 8pt">ΕΝ ISO 27001:2013<br>No.: 20201200003550</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-3">
                        <img src="~/images/logo-2.png" class="logo-small" alt=""><br>
                    </div>

                    <div class="col-md-6">
                        <span><strong>Address: </strong>31 Ag. Pavlou, 121 32 - Peristeri</span><br /><span><strong>Phone:</strong> +30 210 5775 176 </span><strong></strong><span><strong>Email:</strong><a href="mailto:info@kipopraxis.gr"> info@kipopraxis.gr</a></span>
                    </div>

                    <div class="col-md-3 text-right">
                        <div class="social-icons">
                            
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="back-to-top"></a>
        </footer>
        <!-- footer close -->
    </div>



    <!-- Javascript Files
    ================================================== -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jpreLoader.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/easing.js"></script>
    <script src="~/js/jquery.flexslider-min.js"></script>
    <script src="~/js/jquery.scrollto.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/classie.js"></script>
    <script src="~/js/video.resize.js"></script>
    <script src="~/js/validation.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/enquire.min.js"></script>
    <script src="~/js/designesia.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ_aEnH_SDIRQHCFOGPX4xwjPw7VaDLXk"></script>
    <script src="~/js/map-4.js"></script>


    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <script src="~/js/typed.js"></script>
    <script>
        $(function () {
            // jquery typed plugin
            $(".typed").typed({
                stringsElement: $('.typed-strings'),
                typeSpeed: 100,
                backDelay: 1500,
                loop: true,
                contentType: 'html', // or text
                // defaults to false for infinite loop
                loopCount: false,
                callback: function () { null; },
                resetCallback: function () { newTyped(); }
            });
        });
    </script>

</body>
</html>
