@{
    ViewData["Title"] = "Η Εταιρία μας";
}

<!-- subheader -->
<section id="subheader" data-bgimage="url(../../images/background/subheader1.jpg" class="style-2" data-stellar-background-ratio=".1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap">
                    <h1>About Us</h1>
                    <h4>The most reliable garden services</h4>
                </div>
                <ul class="crumb">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="sep">/</li>
                    <li>Company</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<div id="info-box" class="no-padding mt-90 mobile-hide absolute z-index500 text-light bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-color">

                </div>

            </div>
        </div>
    </div>
</div>

<!-- content begin -->
<div id="content" class="no-top no-bottom">
    <!-- section begin -->
    <section id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/misc/pic_1.jpg" class="img-responsive img-rounded" alt="">
                </div>

                <div class="col-md-6">
                    <h3>THE COMPANY</h3>
                    <p>KIPOPRAXIS operates in landscape construction and maintenance works, as well as environmental protection projects. 
                    Its members have over 25 years of experience in the field, providing high quality services in both the private and public sector.</p>
                    <p>The company’s presence in large scale projects and its continuous pursuit for optimizing the quality of services provided, 
                    classify it as one of the most competitive companies in the field.</p>
                    <div class="spacer-single"></div>

                </div>

            </div>
        </div>
    </section>
    <!-- section close -->

    <section aria-label="section" data-bgimage="url(../../images/background/bg-1.jpg" data-stellar-background-ratio=".1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="expand-group s2">
                        <div class="expand">
                            <h4>GOALS</h4>
                            <div class="content">
                                <p>
                                    • KIPOPRAXIS GP strives for continuous development, both domestically and abroad, 
                                    ensuring the quality of services provided, always with respect for the people and the environment.
                                </p>
                                <p>
                                    Constantly updating our knowledge on the most recent trends of Landscape architecture, construction 
                                    and development works transfuse the necessary expertise and know-how so that any needs are met.
                                </p>
                            </div>
                        </div>
                        <div class="expand">
                            <h4>CERTIFICATIONS</h4>
                            <div class="content">
                                <p>KIPOPRAXIS GP is certified and in compliance with the following international standards:</p>
                                <p>• Quality management systems - ISO9001:2015.</p>
                                <p>• Information security management - ISO27001:2018.</p>
                                <p>• Environmental management systems - ISO14001:2015.</p>
                                <p>• Energy management systems - ISO50001:2018.</p>
                                <p>• Occupational health and safety management systems - ISO45001:2018.</p>
                                <p>• Road traffic safety - ISO39001:2012.</p>
                            </div>
                        </div>
                        <div class="expand">
                            <h4>CLIENTS</h4>
                            <div class="content">
                                <p>Our Clients’ trust does not provide a sense of complacency but acts as a springboard for continuously improving our services.</p>
                                <p>• STAVROS NIARCHOS FOUNDATION</p>
                                <p>• AKTOR SA</p>
                                <p>• TOMI SA</p>
                                <p>• TERNA SA</p>
                                <p>• SALINI IMPREGILO - TERNA JV</p>
                                <p>• BALLIAN TECHNIKI SA</p>
                                <p>• TEMES SA</p>
                                <p>• LAMDA DOMI SA</p>
                                <p>• IKOS RESORTS</p>
                                <p>• MOTOROIL</p>
                                <p>• LA BOLAGET</p>
                                <p>• ISS FACILITY SERVICES</p>
                                <p>• IPIROTIKI FACILITY SERVICES</p>
                                <p>• MANIFEST FACILITY MANAGEMENT</p>
                                <p>• KADMOS SA</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div id="testimonial-carousel" class="owl-carousel owl-theme de_carousel wow fadeInUp" data-wow-delay=".3s">

            </div>
        </div>
    </section>
    <!-- section close -->

</div>

