@{
    ViewData["Title"] = "Vertical gardens.";
}

<!-- subheader -->
<section id="subheader" data-bgimage="url(../../images/Services/VerticalGardens.jpg" class="style-2" data-stellar-background-ratio=".1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap">
                    <h1>Vertical gardens.</h1>
                    <h4>Professional garden services</h4>
                </div>
                <ul class="crumb">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="sep">/</li>
                    <li>Vertical gardens</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->

<div id="info-box" class="no-padding mt-90 mobile-hide absolute z-index500 text-light bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-color">

                </div>

            </div>
        </div>
    </div>
</div>

<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div id="sidebar" class="col-md-3 wow fadeInUp">
                <ul id="services-list" class="s1">
                    <li><a asp-controller="Home" asp-action="Service1">Earthworks.</a></li>
                    <li><a asp-controller="Home" asp-action="Service2">Automated irrigation networks construction</a></li>
                    <li><a asp-controller="Home" asp-action="Service3">Green roofs.</a></li>
                    <li><a asp-controller="Home" asp-action="Service4">Garden lighting.</a></li>
                    <li><a asp-controller="Home" asp-action="Service5">Stabilized ceramic floors construction.</a></li>
                    <li><a asp-controller="Home" asp-action="Service6">Floor construction.</a></li>
                    <li><a asp-controller="Home" asp-action="Service7">Shrubs and trees planting works</a></li>
                    <li><a asp-controller="Home" asp-action="Service8">Sports fields construction</a></li>
                    <li class="active"><a asp-controller="Home" asp-action="Service9">Vertical gardens.</a></li>
                    <li><a asp-controller="Home" asp-action="Service10">Automated irrigation networks maintenance.</a></li>
                    <li><a asp-controller="Home" asp-action="Service11">Reformation and development of downgraded areas.</a></li>
                    <li><a asp-controller="Home" asp-action="Service12">Shrubs and trees pruning works.</a></li>
                    <li><a asp-controller="Home" asp-action="Service13">Turf maintenance.</a></li>
                    <li><a asp-controller="Home" asp-action="Service14">Phytosanitary works.</a></li>
                    <li><a asp-controller="Home" asp-action="Service15">Collection and processing of non-hazardous waste - Compostin.</a></li>
                    <li><a asp-controller="Home" asp-action="Service16">land clearance - sweeping.</a></li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay=".3s">

                    </div>
                    <div class="col-md-6 pic-services wow fadeInUp" data-wow-delay=".6s">
                        <img src="images/services/p1_a.jpg" class="img-rounded img-responsive" alt="">
                        <img src="images/services/p1_b.jpg" class="img-rounded img-responsive" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>